@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind Components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #f0defa 0.89%,
    #e8bef3 17.23%,
    #e09ded 42.04%,
    #d87de7 55.12%,
    #d05ce1 71.54%,
    #c733bb 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-purple-gradient {
  background: linear-gradient(
    157.81deg,
    #f0defa -43.27%,
    #e8bef3 -21.24%,
    #e09ded 12.19%,
    #d87de7 29.82%,
    #d05ce1 51.94%,
    #c733bb 90.29%
  );
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #6a82fb -43.27%,
    #ab6afb -21.24%,
    #ab6afb 12.19%,
    #ab6afb 29.82%,
    #ab6afb 51.94%,
    #6a82fb 90.29%
  );
}

.bg-dark-blue-purple-gradient {
  background: linear-gradient(
    157.81deg,
    #0a0b12 -43.27%,
    #1a0c1e -21.24%,
    #1a0c1e 12.19%,
    #1a0c1e 29.82%,
    #1a0c1e 51.94%,
    #0a0b12 90.29%
  );
}



.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.purple__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #800080 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.hover-no-bg-image:hover {
  background-image: none;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00040f;
  opacity: 0;
  z-index: -10;
}

.bg-fade::before {
  opacity: 1;
}

.navbar::before {
  transition: opacity 0.5s ease-in-out;
}




